$social-media-brand-colors : (
  facebook:           "#3b5998",
  messenger:          "#0084ff",
  vk:                 "#45668e",
  google:             "#4285f4",
  google-plus:        "#dd4b39",
  telegram:           "#0088cc",
  linkedin:           "#0077b5",
  whatsapp:           "#075e54",
  twitter:            "#1da1f2",
  youtube:            "#ff0000",
  slack:              "#6ecadc",
  snapchat:           "#fffc00",
  instagram:          "#405de6",
  github:             "#4078c0",
  gitlab:             "#fca326",
  flickr:             "#0063dc",
  dribbble:           "#444444",
  envato:             "#82b541",
  hangouts:           "#0f9d58",
  viber:              "#59267c",
  vimeo:              "#162221",
  yahoo:              "#410093",
  yandex:             "#ffcc00",
);

/// Mixin to populate brand color CSS.
/// @param {String} $name
/// @param {String} $color-param
/// @param {String} $selector-stem
@mixin use-brand-color($name, $color-param: 'color', $selector-stem: $brand-color-selector-stem) {
  $color:             map-get($social-media-brand-colors, #{$name});
	$aliases :          map-get($aliases, #{$name});

  @if $color {
   	.#{$name}#{$selector-stem}#{$color-param} {
      #{$color-param} : $color;
    }

    @if $aliases {
      @each $prefix in $aliases {
        @if $prefix != $name {
          .#{$prefix}#{$selector-stem}#{$color-param} {
            #{$color-param} : $color;
          }
        }
      }
    }
  }
}

@mixin brand-text-color($brand) {
  @include use-brand-color($brand);
}

@mixin brand-background-color($brand) {
  @include use-brand-color($brand, background-color);
}

@mixin brand-all-colors($brand) {
  @include brand-text-color($brand);
  @include brand-background-color($brand);
}



/// Include all brand colors.
@mixin all-social-brand-colors {
  @each $brand, $color in $social-media-brand-colors {
    @include brand-text-color($brand);
    @include brand-background-color($brand);
  }
}
